<!DOCTYPE html>
<html ng-app="myApp" xmlns="http://www.w3.org/1999/html">
<head>

    <script src="../js/libraries/jquery.min.js" type="application/javascript"></script>
    <script src="../js/libraries/angular.min.js" type="application/javascript"></script>
    <script src="../js/libraries/angular-materialize.js" type="application/javascript"></script>
    <script src="../js/libraries/materialize.min.js" type="application/javascript"></script>
    <script src="../js/libraries/angular-route.min.js" type="application/javascript"></script>
    <script src="../js/libraries/angular-sanitize.min.js" type="application/javascript"></script>

    <script src="../js/custom/app.js" type="application/javascript"></script>
    <script src="../js/custom/routing.js" type="application/javascript"></script>
    <script src="../js/custom/base-page.js" type="application/javascript"></script>
    <script src="../js/custom/product-controller.js" type="application/javascript"></script>
    <script src="../js/custom/order-controller.js" type="application/javascript"></script>
    <script src="../js/custom/controllers/clients-controller.js"></script>
    <script src="../js/custom/services/traini-service.js" type="application/javascript"></script>
    <script src="../js/custom/services/product-service.js" type="application/javascript"></script>
    <script src="../js/custom/services/order-service.js" type="application/javascript"></script>

    <link rel="stylesheet" href="../css/materialize.min.css" type="text/css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <meta charset="UTF-8"/>
    <title>Activity</title>
</head>
<body>

<div ng-controller="CertainPageController">
    <!--<div class="left">-->
        <!--<span class="new badge green" data-badge-caption=" / User">Admin</span>-->
    <!--</div>-->
    <div class="right">
        <span class="new badge blue" data-badge-caption="0.100.2">Materialize version:</span>
        <span class="new badge blue" data-badge-caption="1.4.9">Angular version:</span>
    </div>

    <!-- MENU SELECTING -->
    <div class="row">
        <div class="col s8">
            <ul class="tabs">
                <li class="tab col s2"><a href="#dashboard" ng-click="page.htmlPage = 'dashboard'">Dashboard</a></li>
                <li class="tab col s2"><a href="#computer-management"  ng-click="page.htmlPage = 'products'">Products</a></li>
                <li class="tab col s2"><a href="#computer-management"  ng-click="page.htmlPage = 'orders'">Orders</a></li>
                <li class="tab col s2"><a href="#computer-management"  ng-click="page.htmlPage = 'clients'">Clients</a></li>
                <li class="tab col s2"><a href="#computer-management"  ng-click="page.htmlPage = 'traini'">Traini...</a></li>
            </ul>
        </div>
    </div>

    <div ng-if="general.showPreloader" id="pre-loader" ng-include="'html/preloader/preloader.html'"></div>

    <!-- CONTENT PAGE -->
    <div class="container" ng-include="'html/pages/' + page.htmlPage + '.html'"></div>



    <!-- FOOTER -->
    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
            <i class="large material-icons">mode_edit</i>
        </a>
        <ul>
            <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
            <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
            <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
            <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
        </ul>
    </div>


</div>



</body>
</html>