#removePreviewButton {
    position: fixed;
    z-index: 100001;
    margin-left: 55px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 20px;
}

#removePreviewButton:hover {
    color: red;
    opacity: .9;
}


.pl15{
    padding-left: 15px;
}