.full-container {
    width: 100%;
    height: 92vh;
}

.left-part-quarter-container{
    width: 50%;
    height: 50%;
    float: left
}

.right-part-quarter-container {
    width: 50%;
    min-height: 50%;
    float: right
}

#removePreviewButton {
    position: fixed;
    z-index: 100001;
    margin-left: 55px;
    margin-top: 2px;
    cursor: pointer;
    font-size: 20px;
}

#removePreviewButton:hover {
    color: red;
    opacity: .9;
}


.pl15{
    padding-left: 15px;
}