
<div id="computers-content" class="row" ng-controller="ProductController">
    <table class="highlight responsive-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Cost</th>
            <th class="right">Actions</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="product in computers">
            <td>{{product.pk}}</td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.cost}} &#8372;</td>
            <td class="right">
                <a class="btn-floating red" title="Delete" ng-click="deleteProduct(product.pk, product.name)">
                    <i class="material-icons">remove</i>
                </a>
                <a class="btn-floating blue" title="Edit" ng-click="addEditProduct(product);">
                    <i class="material-icons">edit</i>
                </a>
            </td>
        </tr>
        </tbody>
    </table>


    <a class="btn-floating btn-small waves-effect red" ng-click="addEditProduct();">
        <i class="material-icons">add</i>
    </a>


    <div ng-include="'html/pages/modals/actions-product-modal.html'"></div>





</div>