

<h5>Choose Computer Product:</h5>

<div input-field>
    <select class="" ng-model="computerAssembly.basePart" material-select watch>
        <option ng-repeat="value in decoratorProductsNames" value="{{value.id}}">{{value.name}}</option>
    </select>
</div>


<a class='btn' ng-click="showAdditional = true">Continue Bundling</a>


<div ng-if="showAdditional">

    </br>
    <h5>Choose Bundling:</h5>


    <div input-field>
        <input type="text" ng-model="computerAssembly.buyerInitial" length="150">
        <label>Your Initials: </label>
    </div>

    <h6>Processor:</h6>
    <div input-field>
        <select class="" ng-model="computerAssembly.additionalPart[0]" material-select watch>
            <label>Your Initials: </label>

            <option ng-repeat="value in processors" value="{{value.id}}">{{value.name}}</option>

            <label>Your Initials: </label>

        </select>
    </div>

    <h6>Hard Disk:</h6>
    <div input-field>
        <select class="" ng-model="computerAssembly.additionalPart[1]" material-select watch>
            <option ng-repeat="value in hardDisks" value="{{value.id}}">{{value.name}}</option>
        </select>
    </div>

    <h6>Video Card:</h6>
    <div input-field>
        <select class="" ng-model="computerAssembly.additionalPart[2]" material-select watch>
            <option ng-repeat="value in videoCards" value="{{value.id}}">{{value.name}}</option>
        </select>
    </div>

    <div class="row">
        <span ng-if="orderingProcess">
            <span class="preloader" ng-include="'html/preloader/preloader.html'"></span>
        </span>

        <a class='btn right' ng-click="doOrder();">ORDER</a>
    </div>


</div>

