
<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Add Product</h4>

        <div class="row">

            <div input-field class="col s7">
                <i class="material-icons prefix">local_shipping</i>
                <input id="name" type="text" ng-model="computerModel.name">
                <label for="name">Product Name:</label>
            </div>


            <div input-field class=" col s7">
                <i class="material-icons prefix">edit</i>
                <textarea id="desc" class="materialize-textarea" data-length="150" ng-model="computerModel.description"></textarea>
                <label for="desc">Description:</label>
            </div>



            <div input-field class="col s7">
                <span class="prefix">UA</span>
                <!--<i class="material-icons prefix">UA</i>-->
                <input id="cost" type="number" ng-model="computerModel.cost">
                <label for="cost">Cost:</label>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <a class="btn-flat modal-action modal-close waves-effect waves-red left">Close</a>
        <a class="btn right" ng-click="saveProduct();">Save</a>
    </div>
</div>


