
<!-- TAKE ORDER MODAL DIALOG -->

<div id="orderModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>New Order</h4>


        <div id="content">

            <div class="row">
                <h6>Client Info:</h6>

                <div input-field class="col s4">
                    <input id="firstName" type="text" ng-model="order.firstName">
                    <label for="firstName">First Name:</label>
                </div>

                <div input-field class="col s4">
                    <input id="lastName" type="text" ng-model="order.lastName">
                    <label for="lastName">Last Name:</label>
                </div>

                <div input-field class="col s4">
                    <input id="birthdayDate" input-date type="text" data-select-years="200" data-format="dd/mm/yyyy" ng-model="order.birthdayDate">
                    <label for="birthdayDate">Date of Birthday:</label>
                </div>
            </div>

            <div class="row">
                <h6>Order Info:</h6>

                <div input-field class="col s6">
                    <select id="products" material-select multiple data-watch ng-model="order.selectedProducts"
                            ng-options="item as item.name for item in orderProductData">
                        <option value="" disabled>Choose Order's Items</option>
                        <option ng-repeat="product in orderProductData">{{product.name}}</option>
                    </select>
                    <label for="products">Selected Items</label>
                </div>
            </div>

            <div class="row">

                <h6>Delivery Info:</h6>


                <div input-field class="col s3">
                    <input id="deliveryDate" input-date type="text" data-format="yyyy-mm-dd" ng-model="order.deliveryDate" disabled>
                    <label for="deliveryDate">Delivery Date</label>
                </div>

                <div input-field class="col s3">
                    <input id="deliveryTime" input-clock data-twelvehour="true" type="text" ng-model="order.temp.deliveryTime"
                           data-donetext="Set Time" data-canceltext="Close" data-cleartext="Clear Time"
                           data-default="now" data-fromnow="0" data-autoclose="false" data-ampmclickable="true">
                    <label for="deliveryTime">Delivery Time</label>
                </div>


                <div input-field class="col s6">
                    <input id="deliveryAddress" type="text" ng-model="order.deliveryAddress">
                    <label for="deliveryAddress">Delivery Address</label>
                </div>

            </div>

            <!--ERROR and NOTIFICATION line-->
            <div class="row" style="margin-top: -35px" id="error-line">
                <div class="col s3">
                    <span style="font-size: 11px">*Set Up automatically for better experience.</span>
                </div>
                <div class="col s3">
                    <span style="font-size: 11px">*You can't chose the time in the past.</span>
                </div>
            </div>

            <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="checked"/>
                <label for="filled-in-box">Do you agree with 'Terms and Conditions' instructures</label>
            </p>


            <div ng-if="checked">
                <h5>You Order</h5>

                <div>
                    <h6>Selected Items:</h6>
                    <span ng-repeat="selectedItem in order.selectedProducts">
                            <span>{{selectedItem.name}} &#8211;</span>
                            <span>{{selectedItem.cost}} грн.</span>
                        </span>
                </div>

                <div class="right">
                        <span>
                            <h5>Total Cost is:  {{getTotalCost();}} Грн.</h5>
                        </span>

                </div>

            </div>

        </div>


    </div>
    <div class="modal-footer">
        <a href="#!" class="btn-flat modal-action modal-close waves-effect waves-red left">Close</a>
        <a href="#!" class="btn blue right" ng-class="!checked ? 'disabled' : ''" ng-click="submitOrder();">Submit</a>
    </div>
</div>
