
<!-- TAKE ORDER MODAL DIALOG -->

<div id="orderModal" class="modal modal-fixed-footer">
    <div class="modal-content">
        <h4>New Order</h4>


        <div id="content">

            <div class="row">
                <h6>Client Info:</h6>

                <div input-field class="col s4">
                    <input type="text" ng-model="order.firstName">
                    <label>First Name:</label>
                </div>

                <div input-field class="col s4">
                    <input type="text" ng-model="order.lastName">
                    <label>Last Name:</label>
                </div>

                <div input-field class="col s4">
                    <input input-date type="text" data-select-years="200" format="dd/mm/yyyy" ng-model="order.birthdayDate">
                    <label>Date of Birthday:</label>
                </div>
            </div>

            <div class="row">
                <h6>Order Info:</h6>

                <div input-field class="col s6">
                    <select id="products" material-select multiple watch ng-model="order.selectedProducts"
                            ng-options="item as item.name for item in orderProductData">
                        <option value="" disabled>Choose Order's Items</option>
                        <option ng-repeat="product in orderProductData">{{product.name}}</option>
                    </select>
                    <label for="products">Selected Items</label>
                </div>
            </div>

            <div class="row">

                <h6>Delivery Info:</h6>


                <div input-field class="col s3">
                    <input input-date type="text" format="yyyy-mm-dd" ng-model="order.deliveryDate">
                    <label>Delivery Date</label>
                </div>

                <div input-field class="col s3">
                    <input input-clock data-twelvehour="false" type="text" ng-model="order.temp.deliveryTime">
                    <label>Delivery Time</label>
                </div>


                <div input-field class="col s6">
                    <input type="text" ng-model="order.deliveryAddress">
                    <label>Delivery Address</label>
                </div>

            </div>

            <p>
                <input type="checkbox" class="filled-in" id="filled-in-box" ng-model="checked"/>
                <label for="filled-in-box">Do you agree with 'Terms and Conditions' instructures</label>
            </p>


            <div ng-if="checked">
                <h5>You Order</h5>

                <div>
                    <h6>Selected Items:</h6>
                    <span ng-repeat="selectedItem in order.selectedProducts">
                            <span>{{selectedItem.name}} &#8211;</span>
                            <span>{{selectedItem.cost}} грн.</span>
                        </span>
                </div>

                <div class="right">
                        <span>
                            <h5>Total Cost is:  {{getTotalCost();}} Грн.</h5>
                        </span>

                </div>

            </div>

        </div>


    </div>
    <div class="modal-footer">
        <a href="#!" class="btn-flat modal-action modal-close waves-effect waves-red left">Close</a>
        <a href="#!" class="btn blue right" ng-class="!checked ? 'disabled' : ''" ng-click="submitOrder();">Submit</a>
    </div>
</div>
